MasterWeb/WebContent/WEB-INF/struts-config_1_1.dtd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT action (forward+)>
<!ATTLIST action
	path CDATA #REQUIRED
	type CDATA #REQUIRED
	scope CDATA #REQUIRED
	name CDATA #REQUIRED
	validate (false | true) #REQUIRED
	input CDATA #REQUIRED
>
<!ELEMENT action-mappings (action+)> 
<!ELEMENT controller EMPTY>
<!ATTLIST controller
	contentType CDATA #REQUIRED
	debug CDATA #REQUIRED
	locale CDATA #REQUIRED
	nocache CDATA #REQUIRED
>
<!ELEMENT event EMPTY>
<!ATTLIST event
	name CDATA #REQUIRED
	type CDATA #REQUIRED
>
<!ELEMENT event-mappings (event+)>
<!ELEMENT exception EMPTY>
<!ATTLIST exception
	key CDATA #REQUIRED
	path CDATA #REQUIRED
	scope CDATA #REQUIRED
	type CDATA #REQUIRED
>
<!ELEMENT form-bean (form-property?)>
<!ATTLIST form-bean
	name (accountDetailForm | accountInformationForm | loginForm) #REQUIRED
	type (com.oreilly.struts.banking.form.LoginForm | org.apache.struts.action.DynaActionForm) #REQUIRED
	dynamic CDATA #IMPLIED
>
<!ELEMENT form-beans (form-bean+)>
<!ELEMENT form-property EMPTY>
<!ATTLIST form-property
	name (accounts | view) #REQUIRED
	type (com.oreilly.struts.banking.view.AccountDetailView | java.util.ArrayList) #REQUIRED
>
<!ELEMENT forward EMPTY>
<!ATTLIST forward
	name (Failure | SessionTimeOut | Success | SystemFailure) #REQUIRED
	path CDATA #REQUIRED
	redirect CDATA #IMPLIED
>
<!ELEMENT global-exceptions (exception)>
<!ELEMENT global-forwards (forward+)>
<!ELEMENT message-resources EMPTY>
<!ATTLIST message-resources
	parameter CDATA #REQUIRED
	null CDATA #REQUIRED
>
<!ELEMENT struts-config (form-beans, global-exceptions, global-forwards, action-mappings, event-mappings, controller, message-resources)>
